body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.container {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    $purple:  #6f42c1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
@for $i from 1 through 12{
    .col#{$i}{
        width: (100%/(12/$i)) -3%;
        margin: 1.5%;

    }
}
